<div class="row m-0 justify-content-center align-items-center vh-100 agenda">
  <div class="container mt-5">
    <h1 class="h1 pb-2 text-center text-white">Sistema de Alumnos</h1>
    <div class="table-responsive">
      <table class="table table-dark text-center table-striped table-hover table-bordered" border="1">
        <thead>
          <tr class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">GRADO</th>
            <th scope="col">SECCION</th>
            <th scope="col">TURNO</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          {{#each alumno}}
          <tr class="align-middle">
            <th scope="row">{{this.id}}</th>
            <td>{{this.nombre}}</td>
            <td>{{this.apellido}}</td>
            <td>{{this.grado}}</td>
            <td>{{{this.seccion}}}</td>
            <td>{{{this.turno}}}</td>
            <td>
              <img src="https://azevaluacionnubes.s3.amazonaws.com/{{this.imagen}}" alt="" width="250px"
                height="150px">
            </td>
            <td>
              <a href="/alumnos/editar/{{this.id}}" class="btn btn-sm btn-warning">Editar</a>
              <form action="/alumnos/eliminar{{this.id}}" method="post">
                  <input type="text" hidden="true" id="imagendelete" name="imagendelete" value="{{this.imagen}}">
                  <br>
                  <input type="submit" class="btn btn-sm btn-danger" role="button" value="Eliminar"  >
                </form>
              <a href="/alumnos/uploadImage{{this.id}}" class="btn btn-sm btn-primary">Agregar imagen</a>
              <a href="/alumnos/updateImage{{this.id}}" class="btn btn-sm btn-success">Editar imagen</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <center>
        <a href="/alumnos/agregar" class="btn btn-lg btn-primary">Agregar Usuario</a>
      </center>
    </div>
  </div>
</div>